<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
        <section  id="header">

        </section>
    <section id="content2">
        <div id="half1">

            <div class="intro-text">
                <p>
                    Quem somos? 
                    <span><br>Nós da CERsports somos uma plataforma criada para aproximar pessoas por meio do esporte.
Nosso objetivo é facilitar o acesso a peladas, 
campeonatos e eventos esportivos, conectando 
jogadores e oportunidades para quem quer 
praticar esportes.</span>

                </p>
        </div>
             <div id="line2"></div>
            <div id="icon-section">

                <div class="icon">
                     <img src="{{ url_for('static', filename='img/missaoicon.png') }}" alt="nossa missão">
                     <p>MISSÃO<br> <span>Conectar pessoas através do esporte, facilitando o acesso a eventos e promovendo novas oportunidades.
                     </span> </p>
                </div>

                
                <div class="icon">
                     <img src="{{ url_for('static', filename='img/olhoicon.png') }}" alt="nossa missão">
                     <p>VISÃO<br> <span>Simplificar a organização e a participação em peladas, campeonatos e atividades desportivas na plataforma.
                     </span> </p>
                </div>


                
                <div class="icon">
                     <img src="{{ url_for('static', filename='img/vlicon.png') }}" alt="nossa missão">
                     <p>VALORES<br> <span>Nós da CER buscamos priorizar Comunidade, inclusão, acessibilidade e união de jogadores que partilham a paixão por praticar desporto.
                     </span> </p>
                </div>

            </div>

        </div>
    </section>
</body>
</html>