<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CER</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <section  id="header">

        </section>


        <section id="content">

            <div class="intro-text">

                <p>Está na hora de <mark>jogar</mark>,<br> mas não sabe onde ficar?<br>

                    <span>
                    Use a CERsports, uma plataforma que unifica atletas, campeonatos e quadras dentro de <b>UM APP SÓ
                    </b>, resolvendo a fragmentação do esporte através de um ecossistema digital completo. O aplicativo conecta jogadores para formar equipes, automatiza a criação de tabelas e gerenciamento de torneios, e disponibiliza uma agenda inteligente para a reserva de espaços esportivos de forma rápida e organizada.

                    </span>
                    

                </p>

                <div id="line"></div>
                <div id='division'>
                    <img src="{{ url_for('static', filename='img/atleta.png') }}" alt="atletas icone">
                    <div class="divisor"></div>
                     <img src="{{ url_for('static', filename='img/quadras.png') }}" alt="quadras icone">
                     <div class="divisor"></div>
                      <img src="{{ url_for('static', filename='img/campeonatos.png') }}" alt="icone de campeonatos.">
                </div>
            <a href="#content2">
                <button class="start">QUEM SOMOS?</button>
                    </a>
                    </div>

            <div id="intro-img"></div>


            </div>
        </section>


         <section id="content2">
        <div id="half1">

            <div class="intro-text">
                <p>
                    Quem somos? 
                    <span><br>Nós da CERsports somos uma plataforma criada para aproximar pessoas por meio do esporte.
Nosso objetivo é facilitar o acesso a peladas, 
campeonatos e eventos esportivos, conectando 
jogadores e oportunidades para quem quer 
praticar esportes.</span>

                </p>
        </div>
             <div id="line2"></div>
            <div id="icon-section">

                <div class="icon">
                     <img src="{{ url_for('static', filename='img/missaoicon.png') }}" alt="nossa missão">
                     <p>MISSÃO<br> <span>Conectar pessoas através do esporte, facilitando o acesso a eventos e promovendo novas oportunidades.
                     </span> </p>
                </div>

                
                <div class="icon">
                     <img src="{{ url_for('static', filename='img/olhoicon.png') }}" alt="nossa missão">
                     <p>VISÃO<br> <span>Simplificar a organização e a participação em peladas, campeonatos e atividades desportivas na plataforma.
                     </span> </p>
                </div>


                
                <div class="icon">
                     <img src="{{ url_for('static', filename='img/vlicon.png') }}" alt="nossa missão">
                     <p>VALORES<br> <span>Nós da CER buscamos priorizar Comunidade, inclusão, acessibilidade e união de jogadores que partilham a paixão por praticar desporto.
                     </span> </p>
                </div>

            </div>


        </div>


        <div id="half2">
            <div id="img_div">
            </div>
        </div>

    </section>

    <section id="content3">
        <div>
        <p>OQUE VOCÊ ESTÁ ESPERANDO?
        </p>
        </div>
        <a class="start" href="/register">COMEÇAR</a>

    </section>
        
        <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>