<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CER</title>
</head>
<body>
    <section id="header">

        </section>
    
    <section>
        <form action="/register_form" method="post" id="regiter_formID">
            <label for="name">Digite seu nome: </label>
                <input type="text" name="name" placeholder="user123" required></input>

            <label for="email">Digite seu email: </label>
                <input type="email" name="email"  placeholder="user123@gmail.com" required></input>

            <label for="password">Digite sua senha: </label>
                <input type="password" name="password"  minlength="8" maxlength="20" placeholder="Use caractéres como @ _ ou letras maiúsculas/minúsculas." required></input>

            <label for="re-password">Digite novamente sua senha: </label>
                <input type="password" name="re-password"  minl="8" maxlength="20" required></input>
            
            <button type="submit">CADASTRAR</button>
            </form>
        </section>

    
</body>
</html>